<div>
    <h1>UWCD Library Mission</h1>

    <strong>The UWC DL Mission is accomplished by:</strong>

    <ul>
    <li>Setting up polices, guides, rules and regulations to direct and support programs;</li></li>
    <li>Helping the UWC D community to achieve its learning, teaching and research goals;</li>
    <li>Constantly monitoring and understanding the users’ research, teaching and learning needs;</li>
    <li>Organizing and providing access to information resources;</li>
    <li>Building and developing of qualitatively collections with relevant tools;</li>
    <li>Providing access to the use of books, local and external information resources;</li>
    <li>Ensuring the preservation of funds and collections;</li>
    <li>Conducting training programmes and educating users in information literacy for the meaningful use of information resources;</li>
    <li>Assisting all its users in becoming self-sufficient researchers;</li>
    <li>Supporting intellectual freedom;</li>
    <li>Creating hospitable physical and educational environments in support of productive research and learning.
    </ul>
</div>