<div>
<h1>UWC Dilijan Library News</h1>
    <h2>News</h2>
    {% if news %}
    <ul class="list-group">
        {% for new in news %}
        <li class="list-group-item"><span class="label label-primary">{{ new.created }}</span> <a
                href="/news/{{ new.id }}">{{
            new.title }}</a>{% if logged_in %}<span class="badge">

            <button onclick="delete_news_item({{ new.id }})" class="btn-link"><span class="glyphicon glyphicon-trash" style="color: white;" aria-hidden="true"></span></button>
            </span>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <i>There is nothing new under the sun.</i>
    {% endif %}

    <script>
        function delete_news_item(id) {
            if (id == "")
                return;

             console.log("helo");

            jQuery.ajax({
                url: "/news/" + id,
                type: "DELETE",
                data: {},
                success: function(data, textStatus, jqXHR){
                    console.log("helal be");
                    window.onbeforeunload = null;
                    window.location.href = "/news";
                }
            });

            console.log("bb");
        }
    </script>
{% if logged_in %}
<br />
<h2>Add a News</h2>
<iframe src="/editor" seamless='seamless' frameBorder="0" width="1140" height="850"></iframe>
{% endif %}
